@model SEP_SAC.Models.Procedimientos

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = "Details";
}

<!-- Bradcrumbs -->
<div class="container">
    <div class="row" style="margin-top: 15px;">
        <div class="col s12 breadcrumbs">
            <a href="/admin">Admin</a> > <span>Procedimiento <?php echo $procedimiento['Procedimiento']['name']; ?></span>
        </div>
    </div>
</div>
<!-- Fin de bradcrumbs -->

<div class="container">

    <div class="row">
        <div class="col s12 center-align">
            <h1>Procedimiento @Html.DisplayNameFor(model => model.nombre)</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">

            <h2>Niveles asociados</h2>

            <table class="highlight bordered">
                <thead>
                    <tr>
                        <th>Nivel</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var nivel in Model.Niveles)
                    {
                        <tr>
                            <td>
                                <a href="~/Niveles/Details/@nivel.id.ToString()">
                                    @nivel.nombre
                                </a>
                            </td>
                            <td class="acciones">
                                <a href="~/Niveles/Edit/@nivel.id.ToString()">
                                    Editar
                                </a>
                                <a href="~/Niveles/Delete/@nivel.id.ToString()">
                                    Borrar
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col s12 right-align">
            <a href="/admin/agregar_nivel/<?php echo $procedimiento['Procedimiento']['id']; ?>" class="btn-floating btn-large waves-effect waves-light red" title="Agregar nivel"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>