<div class="row" style="margin-top:60px;">

    <div class="col s4 center-align">

        <div class="row">
            <span class="color-gris-oscuro">Desechamiento</span>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#desechamiento" class="btn btn-rojo modal-trigger">Desechamiento</a>
            </div>
        </div>

    </div>

    <div class="col s4 center-align">
        <div class="row">
            <span class="color-gris-oscuro">Datos incompletos</span>
        </div>

        <div class="row">
            <div class="col s12">
                <a href="#prevencion" class="btn btn-amarillo modal-trigger">Prevención</a>
            </div>
        </div>
        
    </div>

    <div class="col s4 center-align">
        <div class="row">
            <span class="color-gris-oscuro">Asignar</span>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="#instancia" class="btn btn-verde modal-trigger">Instancia Evaluadora</a>
            </div>
        </div>
    </div>
</div>