@model SEP_SAC.Models.Nivel

@{
    ViewBag.Title = "BorrarNivel";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container">

    <div class="row">
        <div class="s12 col center-align">
            <h1>Borrar Nivel</h1>
        </div>
    </div>

    <div class="row">
        <div class="s12 col">
            <h2>¿Estás seguro que deseas borrar este nivel?</h2>
        </div>
    </div>

    <div class="row">
        <div class="s12 col">
            @Html.DisplayNameFor(model => model.nombre) pertenece al procedimiento @Html.DisplayFor(model => model.Procedimientos.nombre)
        </div>
    </div>

    <div class="row">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                @Html.ActionLink("Cancelar", "Procedimiento", new { id = Model.procedimiento_id })
            </div>
        }
    </div>

</div>
